<div id="header">
    <div id="h1"><a href="/"><img src="logo.png" /></a></div>
    <div id="h2"><a href="/cart"><img src = "cart.png"/></a></div>
    <div id="h3"><a href="/profile">
        <img src= <%= user.profilepic %> id="profile"/>
        <label for="profile"> <%= user.fullname %></label></a></div>
    <div id = "h4"><a href="/logout"><button>Logout</button></a></div>
    

</div>