<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="login.css" rel="stylesheet" />
</head>
<body>
    <div id= "container">
  <div id="left">
<div id="main">
    <div id="c1">
        <h4>Login to Shopify</h4>
        <p>Everything You need to start an online store and sell online</p>
    </div>
    <div id="c2">
        <% if(err=="no"){ %>
            <label>Invalid Username Or Password!!!</label>
           <%  }  %>
        <form method="post" action="/login" enctype="application/x-www-form-urlencoded">

            <input type="text" name="username" placeholder="Username" autocomplete="off" required   oninvalid="this.setCustomValidity('Enter User Name Here')" />
            <input type="password" name="password" placeholder="Password" oninvalid="this.setCustomValidity('Enter Password Here')"  required />
            <input type="submit" id="sbt" value="Login" />

            <a href="/signup"><button type="button" >Create New Account</button></a>
            
        </form>
    </div>

    

</div>

<div id="extra">
    <img id="i1" src="google.png" />
    <img src="facebook.png" />
    <img src="instagram.png" />
</div>

  </div>
<div id="right">
    <img id="n1" src="login.jpg" />
</div>
    </div>


    <script src="login.js"></script>
</body>
</html>