<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="stylesheet" href="verify.css">
</head>
<body>
    <%- include('header',{user: user}); %>

    <% if(err == "no"){ %>
    <h4>Incorrect OTP</h4>
    <% } %>
    <div id="verify">

<h2>VERIFY YOUR ACCOUNT</h2>
<h3>ENTER 6 Digit OTP Sent to Your Registered Email-Id</h3>
<form method="post" action="/verify" enctype="application/x-www-form-urlencoded">
    <input type="text" placeholder="Enter OTP" autocomplete="off" name="userotp" required id="inrt" maxlength="6" />
    <input type="submit" name="123" id="btn" />
</form>

</div>
    
</body>
</html>