body
{
    margin: 0px;
    padding: 0px;
}
#container
{
    height: 99.2vh;
    width: 99.5vw;
    background-color:white;
    display: flex;

}

#left
{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#right
{
    width: 50%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 0.1%;
}
#n1
{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}

#main
{
    background-color: white;
    height: 70%;
    width: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

#c1
{
   padding-left: 10%;
   padding-top: 3%;
   padding-right: 10%;
   width: 80%;
    height: 35%;
}
#c2
{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
}

h4
{
    font-size: 2.3rem;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
p
{
    font-size: 1rem;
}

form
{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    margin-top: 6%;
    height: 100%;
    width: 85%;
    
}
input
{
    margin-bottom: 5%;
    width: 50%;
    border-radius: 20px;
    border: 0px;
    height: 10%;
    text-align: center;
    font-weight: bold;
}

#sbt
{
    width: 90px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 2%;
    cursor: pointer;

}

#extra
{
    background-color: white;
    height: 8%;
    width: 65%;
    display: flex;
   
}
#extra > img
{
    height: 40px;
    width: 40px;
    margin-right: 8%;
    cursor: pointer;  
}

#extra > img:hover
{
   opacity: 30%;
}


#i1
{
    margin-left: 21%;
}
button
{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 9%;
    margin-top: 9%;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;

}

label
{
    color: red;
    margin-left: 10%;
    font-weight: bold;
}